@page
@model Frontend.Pages.InicioModel
@{
    Layout="/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Torneo Deportivo</h1>
    <div class="fondo"></div>
    <br>
    <p>Mision Tic 2022 - Torneo Deportivo - All rigths reserved</p>
</div>